.Withdraw{
	.ProfileTitle{
		margin-bottom: 5px;
	}
	.withdraw--row{
		padding: 22px 0 22px 56px;
		border-bottom: 1px solid #eeeeee;
	}
	.withdraw--last-row{
		padding: 22px 0 22px 56px;
		
		.allow-all{
			font-size: 14px;
			font-weight: bold;
			line-height: 1.43;
			color: #322e3d;
			margin-bottom: 10px;
		}
		.Checkbox{
			span{
				font-size: 14px;
				font-weight: 500;
				line-height: 1.43;
				color: #666666;
			}
		}
	}
	.withdraw--title{
		font-size: 16px;
		font-weight: 900;
		line-height: 1.5;
		color: #322e3d;
		margin-bottom: 16px;
	}
	.withdraw--explain{
		font-size: 14px;
		font-weight: 500;
		line-height: 1.86;
		color: #666666;
		.radioGroup{
			display: flex;
			flex-direction: column;
		}
	}
	.withdraw--confirm{
		display: flex;
		justify-content: flex-end;
		&__btn{
			width: 110px;
			height: 40px;
			border: solid 1px #1e59ea;
			background-color: #eeeeee;
			font-size: 14px;
			font-weight: bold;
			color: #333333;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
		}
	}
}