.Bookmark {
	position: relative;
	.Bookmark--buttonGroup {
		position: absolute;
		top: 8px;
		right: 0;
		.btns{
			display: flex;	
			.Button{
				margin-left: 10px;
			}
		}
	}
	.Bookmark--Recommend{
		display: flex;
		margin-top: 20px;
		flex-wrap: wrap;
		
	}
}
