.BroadcastCard{
  display: flex;
  .BroadcastCard--img{
    img{
      width: 200px;
      height: 120px;
      border: solid 1px #707070;
      margin-right: 19px;
    }
  }
  .BroadcastCard--info{
    width: 142px;
    .title{
      font-size: 16px;
      font-weight: 900;
      line-height: 1.5;
      color: #322e3d;
      margin-bottom: 4px;
    }
    .sub{
      font-size: 14px;
      font-weight: 500;
      line-height: 1.43;
      color: #666666;
    }
  }
}