@media(min-width:769px){
  .NoticeContainer{
    padding: 91px 89px;
    box-sizing: border-box;
    &--Title{
      margin-bottom: 65px;
      .Title{
        padding-bottom: 5px;
        font-weight: 700;
      }
    }
    &--List{
      border-top: 2px solid #ddd;
      min-height: 700px;
    }
    &--Row{
      width: 100%;
      border-bottom: 1px solid #efefef;
      height: 60px;
      display: flex;
      align-items: center;
      &:last-child{
        border: none;
      }
      .subject {
        width: 80px;
        font-size: 14px;
        font-weight: 700;
        color: #ffb361;
      }
      .title{
        font-size: 16px;
        font-weight: 500;
        color: #666666;
        margin-right: auto;
      }
      .date{
        font-size: 14px;
        font-weight: 500;
        color: #bbbbbb;
      }

    }
  }
}
@media(max-width:768px){
  .NoticeContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    &--Title{
      padding-bottom: 50px;
      border-bottom: 2px solid #ccc;
      .Title{
        padding-bottom: 8px;
      }

    }
    &--Row{
        display: flex;

        align-items: flex-start;
        min-height: 60px;
        padding: 10px 10px;
        box-sizing: border-box;
        border-bottom: 1px solid #ddd;
        text-decoration: none;
      .subject{
        width: 30px;
        margin-right: 30px;
        font-size: 12px;
        font-weight: bold;
        line-height: 1.43;
        color: #ffb361;
      }
      .title{
        font-size: 14px;
        font-weight: 500;
        line-height: 1.43;
        color: #666666;
      }
      .date{
        font-size: 12px;
        font-weight: 500;
        line-height: 1.5;
        color: #bbbbbb;

      }
    }
  }
}