@media (min-width: 769px) {
	.Recommend--custom {
		width: 100%;
		height: 100%;
		display: flex;
		padding: 42px 52px;
		box-sizing: border-box;
		.yellow {
			color: #ffb361;
		}
		.most--curating {
			width: 578px;

			padding-right: 47px;
			box-sizing: border-box;
			border-right: 1px solid #bbbbbb;
			&__headers {
				display: flex;
				justify-content: space-between;
				.header--title {
					display: flex;
					flex-direction: column;
					line-height: 1.45;
					margin-bottom: 32px;
				}
				.header--more {
					font-size: 14px;
					font-weight: 500;
					line-height: 2;
					color: #666666;
					cursor: pointer;
				}
			}
			&__tags {
				display: flex;
				margin-bottom: 29px;
				.tag {
					background-color: white;
					border: 1px solid #1e59ea;
					border-radius: 20px;
					margin-right: 15px;
					padding: 5px 13px;
					font-size: 16px;
					font-weight: 500;
					line-height: 1.5;
					color: #666666;
				}
			}
			&__cards {
				display: flex;
				justify-content: space-between;
			}
		}
		.custom--curating {
			flex: 1;
			margin-left: 40px;
			// height: 100%;
			height: 400px;
			display: flex;
			justify-content: center;
			align-items: center;
			.none {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
			&__header {
				display: flex;
				flex-direction: column;
				line-height: 1.45;
				height: 90px;
			}
		}
		.custom--curating__cards {
			display: flex;
			flex-direction: column;
			.card {
				margin-bottom: 14px;
			}
		}
		.custom--curating--more {
			font-size: 14px;
			font-weight: 500;
			line-height: 1.43;
			color: #666666;
			display: flex;
			span {
				margin-left: auto;
				cursor: pointer;
			}
		}
	}
	.Recommends {
		width: 100%;
		display: flex;
		line-height: 2;
	}
}

@media (max-width: 768px) {
	.RecommendHeader--body {
		padding: 0 20px;
		box-sizing: border-box;
		.yellow {
			color: #ffb361;
		}
		.most--curating {
			width: 100%;
			height: 386px;
			border: solid 1px #cccccc;
			padding: 20px;
			box-sizing: border-box;
			margin-bottom: 30px;
			position: relative;
			&__headers {
				display: flex;
				margin-bottom: 30px;
				.header--title {
					display: flex;
					flex-direction: column;
					line-height: 1.45;
					letter-spacing: -0.5px;
				}
				.header--more {
					position: absolute;
					bottom: 11px;
					right: 15px;
					font-size: 14px;
					font-weight: 500;
					line-height: 1.43;
					color: #aaaaaa;
				}
			}
			&__tags {
				display: flex;
				margin-bottom: 18px;
				.tag {
					padding: 7px 14px;
					box-sizing: border-box;
					border-radius: 15px;
					border: solid 1px #1e59ea;
					background-color: #ffffff;
					font-size: 16px;
					font-weight: 500;
					line-height: 1.5;
					color: #666666;
					margin-right: 8px;
				}
			}
			&__cards {
				display: flex;
				justify-content: space-between;
			}
		}
		.custom--curating {
			width: 100%;
			height: 373px;
			border: solid 1px #cccccc;
			padding: 20px;
			box-sizing: border-box;
			&__header {
				display: flex;
				flex-direction: column;
				line-height: 1.45;
				letter-spacing: -0.5px;
				text-align: left;
				color: #322e3d;
				margin-bottom: 20px;
			}
			&__cards {
				.card {
					margin-bottom: 11px;
				}
			}
			&--more {
				font-size: 14px;
				font-weight: 500;
				line-height: 1.43;
				color: #aaaaaa;
				text-align: right;
				cursor: pointer;
			}
			.none {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
	}
}
