.LeagueTournament {
	font-weight: bold;
	h3 {
		font-size: 12px;
		font-weight: 500;
		margin-left: 15px;
	}
	&--emptied {
		margin-top: 50px;
		width: 100%;
		height: 352px;
		background-color: #f2f2f2;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.emptiedText {
			font-size: 16px;
			font-weight: 500;
			color: #666666;
		}
		.makeTournamentBtn {
			margin-top: 20px;
			width: 150px;
			height: 40px;
			background-color: #dddddd;
			font-size: 14px;
			font-weight: 500;
			color: #666666;
		}
	}
	&--system {
		margin-top: 20px;

		display: flex;

		.systam--box {
			// width: 200px;
			.system__btn--box {
				margin-top: 20px;
				display: flex;
				justify-content: space-between;
				.system__btn {
					margin-right: 15px;
					width: 90px;
					height: 35px;
					border-radius: 8px;
					border: solid 1px #cccccc;
					background-color: #ffffff;
					font-size: 12px;
					font-weight: 500;
					color: #666666;
					display: flex;
					justify-content: center;
					align-items: center;

					img {
						width: 12px;
						height: 12px;
						margin-left: 5px;
					}
				}
			}
		}
		.total--box {
			margin-left: 100px;
			.totla__title {
				display: flex;
				align-items: flex-end;
			}
			.text {
				margin-top: 10px;
				font-size: 14px;
				font-weight: 500;
				color: #666666;
				line-height: 2.5;

				b {
					color: #1e59ea;
					text-decoration: underline;
				}
			}
		}
	}
	&--view {
		margin-top: 30px;
		position: relative;
		.option--box {
			position: absolute;
			right: 0;
			top: 97px;
			width: 55px;
			height: 50px;
			background-color: #f2f2f2;
			display: flex;
			align-items: center;
			justify-content: center;

			.menuBar {
				width: 20px;
				height: 20px;
				cursor: pointer;
			}
		}
		.colorBlue {
			background: #f2f6ff;
		}

		.inner__option {
			position: absolute;
			border: solid 1px #eeeeee;
			width: 295px;
			height: 520px;
			right: 55px;
			top: 97px;
			font-size: 12px;
			font-weight: 500;
			overflow: scroll;
			color: #888888;
			background: #fff;
			z-index: 30;

			.background {
				position: fixed;
				width: 100%;
				top: 0;
				background: transparent;
				height: 100%;
				left: 0;
				z-index: -1;
			}

			.category {
				display: flex;
				align-items: center;
				height: 50px;
				background-color: #f2f6ff;

				.ranking {
					width: 30%;
					text-align: center;
				}
				.nickname {
					width: 50%;
				}
				.count {
					width: 20%;
				}
			}
			.Preliminary {
				.button {
					width: 10%;
					display: flex;
					justify-content: flex-end;
					.checkBox {
						cursor: pointer;
						border: 1px solid #cccccc;
						width: 10px;
						height: 10px;
					}
				}
				.ranking {
					width: 15%;
					text-align: center;
				}
				.nickname {
					width: 55%;
				}
				.count {
					width: 20%;
				}
			}
			.value {
				background: #fff;
				border-bottom: 1px solid #eeeeee;
			}
			.preliminaryBtn {
				position: absolute;
				bottom: 0;
				width: 100%;
				height: 50px;
				background-color: #f2f6ff;
			}
		}
		.view--container {
			margin-top: 20px;
			display: flex;
			.count__user {
				box-sizing: border-box;
				padding: 15px 10px;
				font-size: 14px;
				font-weight: 500;
				color: #666666;
				border-bottom: 1px solid #dadada;
				border: 1px solid black;
				display: flex;
				justify-content: center;
				li {
					display: flex;
					.number {
						width: 50px;
					}
				}
			}
		}

		.tournament__view--box {
			border-top: 1px solid #dadada;
			width: 100%;

			.header {
				background-color: #f2f2f2;
				height: 50px;
				font-size: 14px;
				color: #322e3d;
				display: flex;
				align-items: center;
				box-sizing: border-box;
				padding: 0 15px;
				display: flex;
				justify-content: space-between;
				.winner__btn {
					font-family: NotoSansCJKkr;
					font-size: 14px;
					font-weight: normal;
					color: #322e3d;
					width: 100px;
					height: 36px;
					border-radius: 3px;
					border: solid 1px #0080ff;
					background-color: #ffffff;
				}
				.Preliminary {
					width: 120px;
				}
				.select-form {
					width: 200px;
					font-size: 12px !important;
					color: #666666 !important;

					.css-1uccc91-singleValue {
						color: #666666 !important;
					}
				}
				.css-26l3qy-menu {
					z-index: 50;
				}
			}
			.tournament--wrapper {
				font-size: 12px;
				font-weight: 500;
				color: #666666;
				overflow: auto;

				.Deathmatch {
					.round--box {
						overflow: auto;
						.inner--box {
							display: flex;
							.round {
								font-family: NotoSansCJKkr;
								font-size: 14px;
								font-weight: 500;
								color: #888888;
								height: 45px;
								width: 130px;
								text-align: center;
								cursor: pointer;
							}
							.roundSelect {
								background: #d2dfff;
								color: black;
							}
						}
					}
					&--board {
						border: solid 1px #eeeeee;
						min-height: 500px;
						display: flex;
						align-items: center;
						justify-content: center;
						box-sizing: border-box;
						padding: 34px;

						.battle--box {
							max-width: 465px;
							display: flex;
							flex-wrap: wrap;
							align-items: center;
							border-right: none;
							border-bottom: none;
							// justify-content: center;
							// border: 1px solid black;
							// box-sizing: border-box;
							// padding: 25px;
							.user--box {
								cursor: pointer;
								position: relative;
								width: 155px;
								height: 30px;
								background-color: #ffffff;
								display: flex;
								align-items: center;
								justify-content: space-between;
								box-sizing: border-box;
								padding: 0 5px 0 5px;
								border: 1px solid #cccccc;

								.img--box {
									// margin-right: 5px;
									width: 35px;
									img {
										cursor: pointer;
									}
									.upload {
										cursor: pointer;
									}
									.photo {
										cursor: pointer;
										// margin-right: 5px;
										margin-left: 5px;
										width: 13px;
										height: 10.4px;
									}
								}
								.box2 {
									display: flex;
									justify-content: space-between;
									align-items: center;
									width: 100px;
									.score--box {
										width: 30px;
										height: 20px;
										border-radius: 6px;
										background-color: #d2dfff;
										display: flex;
										align-items: center;
										justify-content: space-around;
										img {
											cursor: pointer;
											width: 8px;
											height: 8px;
										}
										.left {
											transform: rotate(180deg);
										}
										.team-score {
											font-weight: 600;
											&:empty {
												display: none;
											}
										}
									}
								}
								.team--box {
									border: 1px solid black;
									position: absolute;
									border: 1px solid #cccccc;
									background: #fff;
									width: 155px;
									font-size: 12px;
									color: #666666;
									box-sizing: border-box;
									padding: 5px;
									font-weight: normal;
									line-height: 2;
									left: -1px;
									top: 29px;
									z-index: 100 !important;
								}
							}
							.group {
								width: 153px;
								margin-right: 30px;
								margin-left: 30px;
								margin-bottom: 30px;
								.groupName {
									margin-bottom: 5px;
									font-size: 12px;
									font-weight: 500;
									color: #888888;
								}
							}
						}
						.justify-content {
							justify-content: center;
						}
						.width100 {
							max-width: 100%;
						}
						.display {
							display: none;
						}
					}
				}
			}
			.btn--box {
				margin-top: 30px;
				display: flex;
				justify-content: flex-end;
				.tournament__btn {
					width: 100px;
					height: 40px;
					border-radius: 3px;
					border: solid 1px #cccccc;
					margin-left: 20px;
				}
			}
		}
	}

	.box__alert {
		position: fixed;
		left: 50%;
		top: 50%;
		z-index: -1;
		width: 330px;
		max-height: 130px;
		margin: -35px 0 0 -165px;
		background-color: black;
		box-sizing: border-box;
		padding: 13px 0;
		border-radius: 5px;
		text-align: center;
		opacity: 0;
		visibility: hidden;
		transform: translateY(10px);
		transition: all 0.3s ease-in-out;

		&.alert {
			z-index: 550;
			opacity: 1;
			visibility: visible;
			transform: translateY(0);
			transition: all 0.3s ease-in-out;
		}

		strong {
			display: block;
			font-size: 13px;
			color: white;
			font-weight: 500;
		}
	}
}
